#!/bin/sh

# Configuration file used by add-user.sh and use-local-mirror.sh

LOCALE_LANGUAGE=en
LOCALE_REGION=US
KEYBOARD_LAYOUT=us
KEYBOARD_MODEL=pc105
TIMEZONE=America/Vancouver

USER_USERNAME=karl
USER_HOMEDIR=/home/karl
USER_NAME="Karl Stenerud"
USER_EMAIL="karl.stenerud@canonical.com"
USER_LP_NAME=kstenerud
USER_GPG_KEY=7C177302572849D84A5048349E9C224744EF2A5A

# Local mirror location. Used by use-local-mirror.sh
APT_MIRROR="http://10.5.0.189/ubuntu/"
